{% extends "base.html" %}
{% block content %}
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Kayttajanimi</th>
        <th>Oikeanimi</th>

    </tr>
    </thead>

    <tbody>
    {% for kayttaja in kayttajat %}
    <tr>
        <td>{{ kayttaja.kayttajanimi }}</td>
        <td>{{ kayttaja.oikeanimi }}</td>
        <td>
            <form method="get" action="{{base_path}}/kayttajat/{{kayttaja.id}}/edit" style="display: inline-block">
                <button class="btn btn-primary">Muokkaa</button>
            </form>
        </td>
        <td>
            <form method="post" action="{{base_path}}/kayttajat/{{kayttaja.id}}/tuhoa" style="display: inline-block">
                <button class="btn btn-danger">Poista</button>
            </form>
        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}