{% extends "base.html" %}
{% block content %}
{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<h1>Muokkaa kurssia {{attributes.nimi}}</h1>


<form method="post" action="{{base_path}}/kurssit/{{attributes.id}}/edit">
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" name="nimi" class="form-control" value="{{attributes.nimi}}">
    </div>

    <div class="form-group">
        <label>Aloituspäivä</label>
        <input type="text" name="aloituspaiva" class="form-control" value="{{attributes.aloituspaiva}}">
    </div>

    <div class="form-group">
        <label>Vapaavalintainen kysymys 1</label>
        <input type="text" name="kysymys5" class="form-control" value="{{attributes.kysymys5}}">
    </div>

    <div class="form-group">
        <label>Vapaavalintainen kysymys 2</label>
        <input type="text" name="kysymys6" class="form-control" value="{{attributes.kysymys6}}">
    </div>
</form>
<table class="table table-striped table-bordered">
    <tr>
        <th>Voimassa olevat vastuut</th>
        <th></th>

    </tr>

    {% for kayttaja in vastuut %}
    <tr>
        <td>{{kayttaja.oikeanimi}}</td>
        <td>
            <form method="get" action="{{base_path}}/vastuut/{{kayttaja.id}}/{{attributes.id}}/poista"
                  style="display: inline-block">
                <button class="btn btn-danger">Poista</button>
            </form>
        </td>
    </tr>
    {% endfor %}

</table>


<table class="table table-striped table-bordered">
    <tr>
        <th>Lisättävät vastuuhenkilöt</th>
        <th></th>
    </tr>

    {% for kayttaja in kayttajat %}
    <tr>
        <td>{{kayttaja.oikeanimi}}</td>
        <td>
            <form method="get" action="{{base_path}}/vastuut/{{kayttaja.id}}/{{attributes.id}}/lisaa"
                  style="display: inline-block">
                <button class="btn btn-primary">Lisää</button>
            </form>
        </td>
    </tr>
    {% endfor %}

</table>

<div class="form-group">
    <button type="submit" class="btn btn-primary">Muokkaa</button>
</div>


{% endblock %}