{% extends "base.html" %}
{% block content %}
<h1>{{kurssi.nimi}}</h1>

<form method="post" action="{{base_path}}/arvostelu/{{kurssi.id}}">
    <div class="form-group">
        <ul><label>Koitko kurssin vaikeaksi?</label></ul>
        <ul>
            <label class="radio-inline"> <input type="radio" name="vastaus1" value="1">1</label>
            <label class="radio-inline"> <input type="radio" name="vastaus1" value="2">2</label>
            <label class="radio-inline"> <input type="radio" name="vastaus1" value="3">3</label>
            <label class="radio-inline"> <input type="radio" name="vastaus1" value="4">4</label>
            <label class="radio-inline"> <input type="radio" name="vastaus1" value="5">5</label>
        </ul>
    </div>

    <div class="form-group">

        <ul><label>Oliko kurssin opetus mielestäsi tasokasta?</label></ul>
        <ul>
            <label class="radio-inline"> <input type="radio" name="vastaus2" value="1">1</label>
            <label class="radio-inline"> <input type="radio" name="vastaus2" value="2">2</label>
            <label class="radio-inline"> <input type="radio" name="vastaus2" value="3">3</label>
            <label class="radio-inline"> <input type="radio" name="vastaus2" value="4">4</label>
            <label class="radio-inline"> <input type="radio" name="vastaus2" value="5">5</label>
        </ul>
    </div>

    <div class="form-group">
        <ul><label>Oliko kurssi mielestäsi haastava?</label></ul>
        <ul>
            <label class="radio-inline"> <input type="radio" name="vastaus3" value="1">1</label>
            <label class="radio-inline"> <input type="radio" name="vastaus3" value="2">2</label>
            <label class="radio-inline"> <input type="radio" name="vastaus3" value="3">3</label>
            <label class="radio-inline"> <input type="radio" name="vastaus3" value="4">4</label>
            <label class="radio-inline"> <input type="radio" name="vastaus3" value="5">5</label>
        </ul>
    </div>

    <div class="form-group">
        <ul><label>Kurssin yleisarvosana</label></ul>
        <ul>
            <label class="radio-inline"> <input type="radio" name="vastaus4" value="1">1</label>
            <label class="radio-inline"> <input type="radio" name="vastaus4" value="2">2</label>
            <label class="radio-inline"> <input type="radio" name="vastaus4" value="3">3</label>
            <label class="radio-inline"> <input type="radio" name="vastaus4" value="4">4</label>
            <label class="radio-inline"> <input type="radio" name="vastaus4" value="5">5</label>
        </ul>
    </div>
    <ul>
        <div class="form-group">
            <label>{{kurssi.kysymys5}}</label>
            <input type="text" name="vastaus5" class="form-control" value="{{attributes.vastaus6}}">
        </div>

        <div class="form-group">
            <label>{{kurssi.kysymys6}}</label>
            <input type="text" name="vastaus6" class="form-control" value="{{attributes.vastaus7}}">
        </div>


        <div class="form-group">
            <button type="submit" class="btn btn-primary">Lähetä</button>
        </div>
    </ul>
</form>


{% endblock %}