{% extends "base.html" %}
{% block content %}
<h1>{{kurssi.nimi}}</h1>

<form method="post" action="{{base_path}}">
    <div class="form-group">
        <ul><label>Koitko kurssin vaikeaksi?</label></ul>
        <ul>
            <label class="radio-inline"> <input type="radio" name="kysymys1">1</label>
            <label class="radio-inline"> <input type="radio" name="kysymys1">2</label>
            <label class="radio-inline"> <input type="radio" name="kysymys1">3</label>
            <label class="radio-inline"> <input type="radio" name="kysymys1">4</label>
            <label class="radio-inline"> <input type="radio" name="kysymys1">5</label>
        </ul>
    </div>

    <div class="form-group">

        <ul><label>Oliko kurssin opetus mielestäsi tasokasta?</label></ul>
        <ul>
            <label class="radio-inline"> <input type="radio" name="kysymys2">1</label>
            <label class="radio-inline"> <input type="radio" name="kysymys2">2</label>
            <label class="radio-inline"> <input type="radio" name="kysymys2">3</label>
            <label class="radio-inline"> <input type="radio" name="kysymys2">4</label>
            <label class="radio-inline"> <input type="radio" name="kysymys2">5</label>
        </ul>
    </div>

    <div class="form-group">
        <ul><label>Kurssin yleisarvosana</label></ul>
        <ul>
            <label class="radio-inline"> <input type="radio" name="kysymys3">1</label>
            <label class="radio-inline"> <input type="radio" name="kysymys3">2</label>
            <label class="radio-inline"> <input type="radio" name="kysymys3">3</label>
            <label class="radio-inline"> <input type="radio" name="kysymys3">4</label>
            <label class="radio-inline"> <input type="radio" name="kysymys3">5</label>
        </ul>
    </div>
    <ul>
        <div class="form-group">
            <label>{{kurssi.kysymys5}}</label>
            <input type="text" name="kysymys6" class="form-control" value="{{attributes.kysymys6}}">
        </div>

        <div class="form-group">
            <label>{{kurssi.kysymys6}}</label>
            <input type="text" name="kysymys6" class="form-control" value="{{attributes.kysymys6}}">
        </div>


        <div class="form-group">
            <button type="submit" class="btn btn-primary">Lähetä</button>
        </div>
    </ul>
</form>


{% endblock %}