{% extends "base.html" %}
{% block content %}
<div>
    {{message}}
</div>
<h1>{{kurssi.nimi}}</h1>

<ul>
    <li><strong>Päivämäärä:</strong> {{kurssi.aloituspaiva}}</li>
    <li><strong>Vastuuhenkilö:</strong> {{kurssi.vastuuhenkilo}}</li>
    <li><strong>Vapaa valintainen kysymys1:</strong> {{kurssi.kysymys5}}</li>
    <li><strong>Vapaa valintainen kysymys2:</strong> {{kurssi.kysymys6}}</li>
</ul>

<p>
<form method="post" action="{{base_path}}/kurssit/{{kurssi.id}}/tuhoa" style="display: inline-block">
    <button class="btn btn-danger">Poista</button>
</form>
<form method="get" action="{{base_path}}/kurssit/{{kurssi.id}}/edit" style="display: inline-block">
    <button class="btn btn-group">Muokkaa</button>
</form>

</p>

{% endblock %}