{% extends "base.html" %}
{% block content %}
<h1>Arvosteltavat kurssit</h1>


<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Kurssi</th>
        <th>Tiedekunta</th>
        <th>Päivämäärä</th>
        <th>Luennoitsija</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td><a href="#">Tietokantojen Perusteet</a></td>
        <td>Tietojenkäsittelytiede</td>
        <td>1.9.2017</td>
        <td>Mikko Mallikas</td>
    </tr>
    </tbody>
</table>
{% endblock %}