{% extends "base.html" %}
{% block content %}
<h1>Arvosteltavat kurssit</h1>


<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Kurssi</th>
        <th>Päivämäärä</th>
        <th>Vastuuhenkilö</th>
    </tr>
    </thead>

    <tbody>
    {% for kurssi in kurssit %}
        <tr>
            <td>{{kurssi.nimi}}</td>
            <td>{{kurssi.aloituspaiva}}</td>
            <td>{{kurssi.vastuuhenkilo}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}